<div class="section-box padded" *ngIf='des'>
  <h1 class="section-title">Mission</h1>
  <div>
    <div>
      <div class="des-box edit">
        <div  (click)="expand($event)">
          <h1 class="name">Description</h1><br>
          <p class="text first">{{first(des[0])}}</p>
        </div>
        <form class="off" [formGroup]="desGroup">
          <label>Description</label>
          <label class="warning" [hidden]="desGroup.get('des').valid">Required</label>
          <textarea formControlName="des" [class.red]="desGroup.get('des').invalid"></textarea>
          <div class="buttons">
            <button type="button" class="cancel-button" (click)="cancel($event)" (touchstart)="onTouchStart($event)" (touchend)="onTouchEnd($event)">Cancel</button>
            <button type="button" class="submit-button" [disabled]="desGroup.invalid" (click)="onSubmit($event)" (touchstart)="onTouchStart($event)" (touchend)="onTouchEnd($event)">Done</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
