<div class="section-box padded">
  <h1 class="section-title">
    Team
    <div class="edit-section-wrap">
      <a class="edit-section bold" (click)="editSection($event)"  (touchstart)="onTouchStart($event)" (touchend)="onTouchEnd($event)">Edit</a>
      <a class="cancel-edit-section bold" (click)="cancelEditSection($event)" (touchstart)="onTouchStart($event)" (touchend)="onTouchEnd($event)">Cancel</a>
      &nbsp;
      <a class="done-edit-section bold" (click)="doneEditSection($event)" (touchstart)="onTouchStart($event)" (touchend)="onTouchEnd($event)">Done</a>
    </div>
  </h1>
  <form *ngIf="!sectionOnEdit" [formGroup]="memGroup">
    <div class="mem-tot" formArrayName="array">
      <div *ngFor="let mem of mems; let i = index" class="mem-box-wrap edit">
        <div class="mem-box" (click)="expand($event)">
          <h1 class="name">{{mem.name}}</h1><br>
          <p>{{mem.function}}</p><br>
          <p>{{mem.email}}</p>
        </div>
        <div class="off form-wrap" [formGroupName]="i">
          <div class="mem-portrait-wrap" [ngStyle]="{'background-color': memGroup.get('array').value[i].color}">
            <img *ngIf="mems[i].cleanUrl" class="center" [src]="mems[i].cleanUrl" [ngStyle]="{
              'height': (memGroup.get('array').value[i].size/10) + '%',
              'left': (memGroup.get('array').value[i].x/10) + '%',
              'top': (memGroup.get('array').value[i].y/10) + '%'}">
          </div>
          <div class="control-board">
            <div class="control">
              <label>Name</label>
              <label class="warning" [hidden]="memGroup.get('array').at(i).get('name').valid">Required</label>
              <input formControlName="name" [class.red]="memGroup.get('array').at(i).get('name').invalid">
            </div>
            <div class="control">
              <label>Function</label>
              <label class="warning" [hidden]="memGroup.get('array').at(i).get('function').valid">Required</label>
              <input formControlName="function" [class.red]="memGroup.get('array').at(i).get('function').invalid">
            </div>
            <div class="control">
              <label>Email</label>
              <label class="warning" [hidden]="!memGroup.get('array').at(i).get('email').errors?.required">Required</label>
              <label class="warning" [hidden]="!memGroup.get('array').at(i).get('email').errors?.email">Must be an email</label>
              <input formControlName="email" [class.red]="memGroup.get('array').at(i).get('email').invalid">
            </div>
            <div class="control">
              <label>Background</label>
              <label class="warning" [hidden]="!memGroup.get('array').at(i).get('color').errors?.required">Required</label>
              <label class="warning" [hidden]="!memGroup.get('array').at(i).get('color').errors?.pattern">Hex color only</label>
              <input class="hex" formControlName="color" maxlength="7" [class.red]="memGroup.get('array').at(i).get('color').invalid">
            </div>
            <div class="control">
              <label>Cover image</label>
              <input #file type="file" (change)="onFileChange($event, i)" accept="image/*">
              <br>
              <button class="upload-button" (click)="file.click()" (touchstart)="onTouchStart($event)" (touchend)="onTouchEnd($event)">Upload</button>
            </div>
            <div class="control">
              <label>Image size</label><br>
              <input class="slider image-size" type="range" value="900" min="0" max="2000" formControlName="size">
              <p class="slider-text">{{memGroup.get('array').value[i].size/10}}%</p>
            </div>
            <div class="control">
              <label>X-offset</label><br>
              <input class="slider" type="range" value="900" min="0" max="1000" formControlName="x">
              <p class="slider-text">{{memGroup.get('array').value[i].x/10}}%</p>
            </div>
            <div class="control">
              <label>Y-offset</label><br>
              <input class="slider" type="range" value="900" min="0" max="1000" formControlName="y">
              <p class="slider-text">{{memGroup.get('array').value[i].y/10}}%</p>
            </div>
          </div>
          <div class="buttons team">
            <button type="button" class="cancel-button" (click)="cancel($event, i)" (touchstart)="onTouchStart($event)" (touchend)="onTouchEnd($event)">Cancel</button>
            <button type="button" class="submit-button" [disabled]="memGroup.get('array').at(i).invalid" (click)="onSubmit($event, i)" (touchstart)="onTouchStart($event)" (touchend)="onTouchEnd($event)">Done</button>
          </div>
        </div>
      </div>
      <div class="mem-box-wrap edit add" (touchstart)="onTouchStart($event)" (touchend)="onTouchEnd($event)" [formGroup]="newMemGroup">
        <div class="plus-wrap mem-box add" (click)="newExpand($event)">
          <div class="plus-box center">
            <div class="plus-1"></div>
            <div class="plus-2"></div>
          </div>
        </div>
        <div class="off form-wrap">
          <div class="mem-portrait-wrap" [ngStyle]="{'background-color': newMemGroup.value.color}">
            <img *ngIf="newMem.cleanUrl" class="center" [src]="newMem.cleanUrl" [ngStyle]="{
              'height': (newMemGroup.value.size/10) + '%',
              'left': (newMemGroup.value.x/10) + '%',
              'top': (newMemGroup.value.y/10) + '%'}">
          </div>
          <div class="control-board">
            <div class="control">
              <label>New member name</label>
              <label class="warning" [hidden]="newMemGroup.get('name').untouched || newMemGroup.get('name').valid">Required</label>
              <input formControlName="name" [class.red]="newMemGroup.get('name').touched && newMemGroup.get('name').invalid" [placeholder]="!newMemGroup.get('name').touched ? 'Required' : ''">
            </div>
            <div class="control">
              <label>Function</label>
              <label class="warning" [hidden]="newMemGroup.get('function').untouched || newMemGroup.get('function').valid">Required</label>
              <input formControlName="function" [class.red]="newMemGroup.get('function').touched && newMemGroup.get('function').invalid" [placeholder]="!newMemGroup.get('function').touched ? 'Required' : ''">
            </div>
            <div class="control">
              <label>Email</label>
              <label class="warning" [hidden]="newMemGroup.get('email').untouched || !newMemGroup.get('email').errors?.required">Required</label>
              <label class="warning" [hidden]="newMemGroup.get('email').untouched || !newMemGroup.get('email').errors?.email">Must be an email</label>
              <input formControlName="email" [class.red]="newMemGroup.get('email').touched && newMemGroup.get('email').invalid" [placeholder]="!newMemGroup.get('email').touched ? 'Required' : ''">
            </div>
            <div class="control">
              <label>Background</label>
              <label class="warning" [hidden]="newMemGroup.get('color').untouched || !newMemGroup.get('color').errors?.required">Required</label>
              <label class="warning" [hidden]="newMemGroup.get('color').untouched || !newMemGroup.get('color').errors?.pattern">Hex color only</label>
              <input class="hex" formControlName="color" maxlength="7" [class.red]="newMemGroup.get('color').touched && newMemGroup.get('color').invalid"  [placeholder]="!newMemGroup.get('color').touched ? 'Example: #FFFFFF' : ''">
            </div>
            <div class="control">
              <label>Cover image</label>
              <input #file type="file" (change)="newOnFileChange($event)" accept="image/*">
              <br>
              <button class="upload-button" (click)="file.click()" (touchstart)="onTouchStart($event)" (touchend)="onTouchEnd($event)" >Upload</button>
            </div>
            <div class="control">
              <label>Image size</label><br>
              <input class="slider image-size" type="range" value="900" min="0" max="2000" formControlName="size">
              <p class="slider-text">{{newMemGroup.value.size/10}}%</p>
            </div>
            <div class="control">
              <label>X-offset</label><br>
              <input class="slider" type="range" value="900" min="0" max="1000" formControlName="x">
              <p class="slider-text">{{newMemGroup.value.x/10}}%</p>
            </div>
            <div class="control">
              <label>Y-offset</label><br>
              <input class="slider" type="range" value="900" min="0" max="1000" formControlName="y">
              <p class="slider-text">{{newMemGroup.value.y/10}}%</p>
            </div>
          </div>
          <div class="buttons team">
            <button type="button" class="cancel-button" (click)="newCancel($event)" (touchstart)="onTouchStart($event)" (touchend)="onTouchEnd($event)">Cancel</button>
            <button type="button" class="submit-button" [disabled]="newMemGroup.invalid" (click)="newOnSubmit($event)" (touchstart)="onTouchStart($event)" (touchend)="onTouchEnd($event)">Done</button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div *ngIf="sectionOnEdit">
    <div class="mem-tot tot-move" cdkDropList (cdkDropListDropped)="drop($event)">
      <div class="mem-box-wrap move edit" cdkDrag *ngFor="let mem of mems; let i = index" (touchstart)="onTouchStart($event)" (touchend)="onTouchEnd($event)">
        <div class="mem-box">
          <h1 class="name">{{mem.name}}</h1><br>
            <p>{{mem.function}}</p><br>
            <p>{{mem.email}}</p>
        </div>
        <div class="drag-handle">
          <div class="drag-handle-box center">
            <div class="dot dot-1"></div>
            <div class="dot dot-2"></div>
            <div class="dot dot-3"></div>
            <div class="dot dot-4"></div>
            <div class="dot dot-5"></div>
            <div class="dot dot-6"></div>
          </div>
        </div>
        <div class="mem-delete-box">
          <div class="x-box" (click)="delete(i)" (touchstart)="onTouchStart($event)" (touchend)="onTouchEnd($event)">
            <div class="line-1"></div>
            <div class="line-2"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
