.mem-tot {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.mem-tot.tot-move {
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}
.mem-box-wrap {
  width: 50%;
}
.mem-box.move {
  max-width: 360px;
  width: 90%;
}
.mem-box {
  position: relative;
  cursor: pointer;
  padding: 20px;
  padding-left: 50px;
  box-sizing: border-box;
}
.mem-box.add {
  padding: 0;
  height: 100px;
}
.mem-box-wrap.on, .mem-box-wrap.add {
  width: 100%;
}
.mem-box-wrap.on {
  max-width: none;
}
.form-wrap {
  position: relative;
  width: 90%;
  margin: 20px auto;
  padding: 60px 0;
}
.form-wrap.add {
  height: auto;
}
.mem-portrait-wrap {
  position: relative;
  overflow: hidden;
  width: 340px;
  height: 340px;
  border: 1px solid #efefef;
  border-radius: 10px;
  margin: 0 auto 20px auto;
  transition: background-color 200ms ease;
}
.control-board {
  margin-bottom: 0;
}


/* On Edit */
.cdk-drag-placeholder {
  opacity: 0;
}
.cdk-drag {
  will-change: transform;
  transition: transform 20ms ease;
}
.mem-tot.cdk-drop-list-dragging .mem-box:not(.cdk-drag-placeholder) {
  transition: transform 200ms ease-out;
}
.drag-handle {
  position: absolute;
  top: 20px;
  left: 5px;
  width: 40px;
  height: calc(100% - 40px);
}
.mem-box.move {
  background-color: rgba(255,255,255, 0.9);
  background-color: rgba(250,250,250, 0.98);
}
.mem-delete-box {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: calc(100% - 40px);
}
@media (hover: none) {
  .mem-box.edit {
    padding: 30px;
    padding-left: 16%;
  }
  .mem-box.edit.move {
    background-color: #ffffff;
    padding: 30px 50px;
  }
  .mem-delete-box, .drag-handle {
    height: calc(100% - 60px);
    top: 30px;
  }
  .form-wrap {
    width: 100%;
  }
  .mem-box.touch .dot {
    transition: background-color 50ms ease;
    background-color: #353535;
  }
}
@media only screen and (min-width: 768px) and (hover: none) {
  .mem-box-wrap {
    margin: 10px;
    width: calc(50% - 20px);
  }
  .mem-box.edit:not(.move) {
    margin: 0;
  }
  .mem-box.edit.move {
    margin-top: 0px;
  }
}
@media only screen and (max-width: 767px) and (hover: none) {
  .mem-box-wrap {
    margin: 5px;
    width: calc(50% - 10px);
  }
  .mem-box.edit:not(.move) {
    margin: 0px;
  }
  .mem-box.edit.move {
    margin: 5px;
  }
  .mem-box>.mem-delete-box, .mem-box>.drag-handle {
    height: calc(100% - 60px);
    top: 30px;
  }
  .drag-handle {
    left: 10px;
  }
}
@media only screen and (max-width: 654px) and (hover: none) {
  .mem-box-wrap:not(.on) {
    width: 90%;
    max-width: 340px;
  }
}
@media only screen and (max-width: 767px) {
  .mem-box.move {
    width: 90%;
    max-width: 340px;
  }
  .mem-delete-box, .drag-handle {
    top: 10px;
    height: calc(100% - 20px);
  }
  .mem-delete-box {
    right: 15px;
  }
  .mem-portrait-wrap {
    width: 260px;
    height: 260px;
  }
}
@media only screen and (max-width: 654px) {
  .mem-box-wrap, .mem-box-wrap.move {
    width: 90%;
    max-width: 340px;
  }
  .form-wrap {
    max-width: none;
    padding-left: 0;
  }
}
